# server_api dependencies
fastapi[standard]
pillow
--extra-index-url https://download.pytorch.org/whl/nightly/cu129
torch
diffusers
transformers
flash-attn>=2.6.3
sageattention>=2.1.1
xformers>=0.0.29
accelerate
wheel